<section>
    <div class="container">
        <%= form_with model: @fav_image, url: "/fav_images/create" do |form| %>
            <p>
                <%= form.file_field :file, class: "form-control" %><br>
                <%= form.text_field :name, class: "form-label", placeholder: "name" %><br>
            </p>
            <%= form.submit "Upload", class: "btn btn-primary my-2"%>
        <% end %>
    </div>
</section>
